.banner{
    width:100%;
    height:780px;
    background: #0D0E20;
}
.banner_in{
    width:1200px;
    height:100%;
    margin:0 auto;
    z-index:1;
    position: relative;
}
.banner_in img{
    width:100%;
    height:100%;
    z-index:1;
}
.login,.login_selector{
    width:360px;
    height:600px;
    background:#fff;
    z-index:3;
    position: absolute;
    top:70px;
    right:0;
    padding:30px;
}
.title{
    margin-top:70px;
    font-family: HYQiHei-FZS;
    font-size: 19px;
    font-weight: 400;
    color:#000;
    text-align:center;
}
.toggle{
    margin-top:20px;
    display:flex;
    justify-content: flex-end;
}
.toggle span{
    color:#456fff;
    font-size:14px;
    cursor: pointer;
}
.phone_code{
    margin-top: 20px;
    width: 100%;
    height: 48px;
    border: 1px solid #dedfe0;
    box-sizing:border-box;
    display:flex;
    justify-content: space-between;
}
.phone_code span{
    height: 100%;
    width:65px;
    line-height: 48px;
    padding-left: 12px;
    font-size: 16px;
    color: #000;
    text-align:left;
    
}
.phone_code input{
    outline: none;
    border:none;
    padding-right:20px;
    width:358px;
    height:100%;
    font-size:16px;
    color:#000;
    box-sizing:border-box;
}
.mal{
    margin-top: 15px;
    height: 46px;
    line-height: 46px;
    padding-left: 12px;
    border: 1px solid #dedfe0;
    display:flex;
    justify-content: space-between;
}
.mal input{
    width:226px;
    font-size:16px;
    color:#000;
    outline: none;
    border:none;
}

.mal div{
    height:40px;
    width: 120px;
    margin-top:4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-left:1px solid #dedfe0;
}

.mal span{
    color: #456fff;
    cursor: pointer;
}
.check_box{
    margin-top:19px;
    font-size:14px;
    display:flex;
    justify-content:space-between;
    white-space: nowrap;
}
.check_box_first{
    display:flex;
    white-space: nowrap;
}
.check_box_first div{
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #dedfe0;
    margin-right: 5px;
    cursor: pointer;
}
.check_box img{
    width: 70%;
    height: 70%;
    padding-top:2px;
    background-image:url()
}
.check_box span{
    line-height:1.8;
    color:#ec3f3f;
    font-size:14px;
}
.button_blue,.button-transparents{
    margin-top:20px;
    width:360px;
    height:48px;
}
.button_blue button,.button-transparents button{
    width:100%;
    height:100%;
    font-size:17px;
    cursor: pointer;
}
.button-transparents button{
    border-color:#409EFF;
    color:#409EFF;
}
.button-transparents button:hover{
    background-color:#D8E8FA;
}
.hint{
    margin-top:15px;
    font-size:13px;
    color:#999;
}
.forget_pwd{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: #999;
}
.forget_pwd:hover{
    color:#456fff
}
.b_title{
    margin-top:30px;
    text-align: center;
    display:flex;
    justify-content: space-between;
}
.b_title_first,.b_title_last{
    height:1px;
    width:130px;
    background:#999;
}
.b_title span{
    color: #999;
    font-size: 13px;
    line-height:.3;
}
.b_pic{
    margin-top:20px;
    display:flex;
    justify-content: center;
    width:360px;
    height:30px;
}
.b_pic_all{
    width:180px;
    height:100%;
    display:flex;
    justify-content: space-between;
}
.b_pic_first,.b_pic_second,.b_pic_last{
    width:26px;
    height:26px;
}
/* .b_pic_first{
    background-image:url(../../static/wx.png) !important;
    z-index:999;
}
.b_pic_first:hover{
    background:url(../../static/wx_selector.png)
} */
.login_selector{
    z-index:2;
    height:550px;
}
.mal img{
    width:35px;
    height:35px;
    margin-right:20px;
    margin-top:8px;

}